section{
    &.workinprogress{
        display: flex;
        flex-direction: column;
        & img{ 
            margin: auto;
            max-width: 600px;
        }
        & p{
            margin: auto;
        }
    }
}
